{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.yml", "Dockerfile"],
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    }
  ]
}
